.resultContainer {
  flex-direction: column;
  max-height: 350px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.absolute {
  position: absolute;
  top: 40px;
  width: 100%;
}

.underText {
  display: flex;
  justify-content: center;
}

.resultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.resultRow:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.highlight {
  background-color: #d3d3d3;
  padding: 2px;
}
